.custom-container{
    padding-top: 150px;
    width: 400px;
}
#hoverboard-screen{
    background-color: #111111;
    height:100vh;
    
    overflow-y: hidden;
}
.box{
    height:17px;
    width: 17px;
    background-color:rgb(35, 35, 35);
    margin:2px 2px;
    border-radius: 1px;   
}